body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

#grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 400px auto 300px 70px;
    grid-template-areas: 
        "menu"
        "input"
        "conteudo"
        "sugestoes"
        "footer"
    ;
}

#main-conteudo{
    grid-area: conteudo;
}

#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#main-text{
    width: 1000px;
   /* margin: 100px;*/
    text-align: justify;
    line-height: 1.7;
    font-size: 25px;
    padding:0 100px 100px 100px;
    
}


#main-sugestoes{
    grid-area: sugestoes;
    background-color: #84849b;
} 
#main-sugestoes .topico{
    margin-left: 50px;
    margin-bottom: 0; 
}
#sugestoes-container{ /*Propriedades do Flex-Box*/
    display: flex;
}
#sugestoes-container div{
    padding: 20px;
    flex-grow: 1;
    margin: 50px;
    font-weight: bold;
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}
#sugestoes-container div p{
    font-size: 25px;

}
#sugestoes-container div a:hover{
    color: #000000;
}
#nav-menu{
    grid-area: menu;
    background-color: #84849b;
    top: 0; 
    
}

#nav-menu ul {
    font-size: 15px; 
    text-align:center;
    margin-right: 0;
    
}
#nav-menu ul li {
    display: inline; 
    margin-left: 100px;
}
#nav-menu ul li a {
    margin: 0 auto;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;  
}

#nav-menu ul li a:hover{
    color: #000; 
}

#main-busca{
    grid-area: input;
    box-shadow: 10px 20px 30px -12px #ccc; 
    background-image: url(Imagem_header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center  center;
} 

#busca{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-left: 50px;
}

#text-pesquisa{
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-align: left; 
}

#input-pesquisa input{
    height: 45px;
    width:  600px;
    border-radius: 10px;
    border-style: solid;
    background-color: #ffffff;
}

.topico{
    font-weight: bold;
    font-size: 50px;
    color: #161616fd;
}



footer{
    grid-area: footer;
    background-color: #424281;   
    position: relative;
}
footer p{
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 1000px){
    #grid-container{ 
        display: grid;
        grid-template-rows: auto 300px auto auto 70px;
        grid-template-areas: 
            "menu"
            "input"
            "conteudo"
            "sugestoes"
            "footer"
        ;
    }

    #main-busca{
        grid-area: input;
        box-shadow: 10px 20px 30px -12px #ccc; 
        background-image: url(Imagem_header.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center  center;
    } 
    
    #busca{
        width: 500px;
        flex-direction: column;
        height: 200px; 
        justify-content: left;
        padding-left: 25px;
    }
    

    
    #main-text{
        margin: 10px 10px 10px 10px;
        text-align: justify;
        line-height: 1.7;
        font-size: 25px;
        padding: 15px;
        width: auto;
    }

    #sugestoes-container{ /*Propriedades do Flex-Box*/
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }
    #sugestoes-container div{
        padding: 20px;
        flex-grow: 1;
        margin: 0 0 20px 0;
        font-weight: bold;
        border-radius: 10px;
        background-color: #ffffff;
        text-align: center;
        width: 300px;
    
       
    }
    
    #main-sugestoes .topico{
        margin-left: 0px;
        margin-bottom: 50px; 
        text-align: center;
        
    }


    #sugestoes-container div p{
        font-size: 35px;  
    }

    #input-pesquisa input{
        height: 35px;
        width:  400px;
        border-radius: 10px;
        border-style: solid;
        background-color: #ffffff;
    }
    #nav-menu ul{
       padding-left: 0;
    }

    #sobre{
        border-top: 1px  solid #000;
        border-bottom: 1px  solid #000;
    }

    #nav-menu ul li {
       display: block;
       margin: 0;
       width: 100%;
    }

    #nav-menu ul li a {
        border: 5px solid #0000;   
        font-size: 50px;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold; 
        padding: 25px;

    }

    #conteudo h1{
        font-size: 40px;
    }

    
}
